
/* Slow float*/
@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* General Styles */
body {
    
    background: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExejRqb2t5eWwwN2Z1dnNqbDV4cGRwZW04eDE5cTh2eTB2NDVuMGtsaCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xsHs2XeOMBXuU/giphy.gif") center center / cover no-repeat fixed;  
    color: #EED1D1;
    font-family: serif, "Verdana";
    margin: 0;
    padding: 0;
}

/* (no animation here) */
.title {
    text-align: center;
    font-size: 60px;
    border: 30px dotted whitesmoke;
    border-radius: 10px;
    padding: 10px;
}

/* Section Layout */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 20px;
}

/* Text Box Styling */
.text-box {
    max-width: 500px;
    padding: 20px;
    border: 5px solid white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Paragraph Border Styling */
.text-box p {
    border: 5px dotted whitesmoke;
    padding: 10px;
    border-radius: 5px;
}

/* Image Box and Image Container */
.image-box img,
.image-container img {
    width: 400px;
    height: auto;
    border: 5px dotted whitesmoke;
    border-radius: 10px;
    
    animation: floatUpDown 8s ease-in-out infinite;
}

.image-container.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Link Styling */
a {
    color: lightcoral;
    text-decoration: none;
    font-weight: bold;
}


.sticky-link {
    position: fixed;      
    bottom: 20px;        
    right: 20px;          
    background-color: #F00; /* Red background */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;        
    padding: 10px 15px;   /* some spacing */
}

.sticky-link a {
    color: #FFF;          /* White text */
    text-decoration: none;
    font-weight: bold;
}

